---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>I am, I am, I am</h1>
			<p>
				Hi there, I'm Nikhil Dhariwal. I'm 19 y/o and from Army Institute of
				Technology Pune. I like shuffling cards and building things. I enjoy writing
				technical blogs, web development, plus writing my heart out and I live on
				the terminal.
			</p>
			<p>
				OpenZor is an exciting project that I have initiated, aimed at sharing
				insightful and engaging tech-related blogs. It serves as a platform where I
				regularly publish articles, covering a wide range of topics within the field
				of technology. From the latest innovations and trends to in-depth analysis
				and informative guides, OpenZor strives to deliver valuable content to tech
				enthusiasts and professionals alike. In addition to the blog, OpenZor also
				maintains an <a
					style="text-decoration: none;"
					href="https://www.instagram.com/openzor/">Instagram</a
				> account, where captivating and visually appealing tech-related content is shared,
				providing a holistic experience for followers who prefer a more visual medium.
				Be sure to stay tuned to OpenZor for informative and thought-provoking tech insights!
			</p>
			<p>
				Welcome to <a
					href="https://www.instagram.com/hilkin.nd/ style="
					style="text-decoration: none;">Hilkin.nd</a
				>, where I blend music, quotes, and personal musings. Through curated edits,
				I share my favorite lines and thoughts, capturing the essence of college
				life and my emotions. Join me on this expressive journey as we explore the
				power of words and delve into the depths of self-reflection.
			</p>
		</main>
		<Footer />
		<script>
			if (window.netlifyIdentity) {
					window.netlifyIdentity.on("init", (user) => {
							if (!user) {
									window.netlifyIdentity.on("login", () => {
											document.location.href = "/admin/";
									});
							}
					});
			}
	</script>
		<div class="m12">
			<h2>Blog</h2>
			<div class="Blog-list">
				<article class="Blog-item">OK</article>
				<article class="Blog-item">OK</article>
				<article class="Blog-item">OK</article>
				<article class="Blog-item">OK</article>
				<article class="Blog-item">OK</article>
		</div>
		</div>
	</body>
</html>
